/*GENERAL - STRUTTURA*/

header {
    background-color: white;
}

.flex-container{
    display: flex;
}

.my-row{
    height: calc(100vh - 60px);
}

.col-left{
    background-color: #11283E;
    height: 100%;
}

.col-right{
    overflow-y: auto;
    height: 100%;
}



/*AGGIUNTA CONTENUTO HEADER*/

.header-logo-small{
    width: 50px;
}

.ciaooo{
    font-size: 12px;
}

/*AGGIUNTA CONTENUTO MAIN*/

.main-header{
    background-color: #1B72E8;
}

.button-font-size{
    font-size: 12px;
}

.font-main-header-sec-1{
    font-size: 10px;
}

.font-main-header-section-3{
    font-size: 13px;
    color: white;
}

.button-form{
    background-color: #1B72E8;
}

.card-img-top{
    width: 100%;
}

.tablfont{
    font-size: 14px;
}

ul li a:hover, .hover-menu-left:hover{
    background-color: rgba(245, 245, 245, 0.5);
}


tr th:nth-child(2),
tr td:nth-child(2){
    display: none;
}

tr th:nth-child(3),
tr td:nth-child(3){
    display: none;
}

.list-menu-left ul li a {
    text-decoration: none;
    color: white;
}

.main-short-1{
    display: none;
}

.short-header{
    display: none;
}

tr th:nth-child(4),
tr td:nth-child(4){
    font-size: 10px;
}




























/*I BREAKPOINT*/
@media screen and (min-width: 992px){
   
    tr th:nth-child(2),
    tr td:nth-child(2) 
    {
        display: table-cell; }



    }




/*II BREAKPOINT*/
@media screen and (min-width: 768px){

    tr th:nth-child(3),
    tr td:nth-child(3) 
    {
        display: table-cell; }
    
}



/*III BREAKPOINT*/
@media screen and (min-width: 576px) {

    }




